// @use '../variables/breakpoints';
// @use '../variables/container';
@use "sass:map";

@mixin make-container($containers-map, $breakpoints-map) {
  @each $container-name, $sizes in $containers-map {
    // Gérer le nom de la classe 
    @if ($container-name == "default") { // celui par défaut
      .container {
        max-width: 88%;
        margin: 0 auto;
        
        @each $bp-key, $max-width in $sizes {
          @media (min-width: map.get($breakpoints-map, $bp-key)) {
            max-width: $max-width;
          }
        }
      }
    } @else {
      .container-#{$container-name} {
        margin: 0 auto;
        padding: 0 1rem;
        max-width: 100%;

        // Lancer les MQ
        @each $bp-key, $max-width in $sizes {
          @media (min-width: map.get($breakpoints-map, $bp-key)) {
            max-width: $max-width;
          }
        }
      }
    }
  }
}
