@import url("https://use.typekit.net/twu2gti.css");
:root {
    --font-body: "source-serif-4-small-text", serif;
    --font-title: "neulis-sans", sans-serif;
    --font-code: 'Fira Code', monospace;
    --font-annotation: 'Roboto', sans-serif;
    --font-caption: 'Roboto', sans-serif;
  }

  // Headings
  $heading-sizes: (
  "h1": 3rem,
  "h2": 2rem,
  "h3": 1.5rem,
  "h4": 1.25rem,
  "h5": 1.125rem,
  "h6": 1rem
);


  
  
  