.carousel-wrapper {
    overflow: visible; /* Permet aux images de dépasser */
    position: relative;
  }
  
  /* Si nécessaire, ajustez le style de la liste interne de slick */
  .carousel-wrapper .slick-list {
    overflow: visible;
  }
  
  .slick-slide {
    // padding-right: 100px;
  }
  
  .slide img {
    width: 100%;
    object-fit: cover;
  }
  